.butt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    width: fit-content;
    height: 50px;
    background: #006AFF;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    &:hover {
        background: #0255ca;
    }
    
}

@media only screen and (min-width: 300px) and (max-width: 900px){
    .butt {
        font-size: 12px;
        padding: 10px 20px;
        height: 40px;
        
    }
}