.businessCate {
    margin-left: 100px;
    margin-right: 100px;
    .category {

        .catType {
            width: 100%;
            height: 100%;

            .typeOfBusiness {
                float: left;
                width: 50%;
                display: block;
            }

            .busCat {
                float: left;
                width: 50%;
                display: block;
            }
        }

        .busInput {
            width: 100%;
            height: 100%;

            .forms-one {
                float: left;
                width: 50%;
                display: block;
            }

            .forms-two {
                float: left;
                width: 50%;
                display: block;
            }
        }

        .business-posi {
            margin-top: 0px;
            
            .marg {
                top: 600px;
            .yesNo {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            }

        }

        .business-line {
            border: 0.5px solid #E9EEF4;
            margin-top: 50px;
        }

        .confirm {
            display: flex;
            justify-content: flex-end;
            margin-top: 40px;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 900px){
    .businessCate {
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
}