.verify {
    margin: 10px 100px;

    .verify-meth {
        margin-top: 40px;

        .verify-account {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }
}