.navi {

   margin-left: 0px;

    .nav-sub {
        

        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 100px;
            
        }

        ul, li {
            list-style-type: none;
        }

        li {
            padding: 4px 8px;

            .one {
                padding: 3px 7px;
                color: white;
                background: #A5B4CB;
                font-family: DM Sans;
                margin-right: 7.5px;
                border-radius: 3px;
            }

            a {

                font-family: DM Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                color: #A5B4CB;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px){
    .navi {

        margin-left: 0px;
     
         .nav-sub {
             
     
             ul {
                 margin-top: 80px;
                 
             }
     
             ul, li {
                 
             }
     
             li {
                 padding: 4px 4px;
     
     
                 a {
     
                     font-family: sans-serif;
                     font-size: 12px;
                 }
             }
         }
     }
}

@media only screen and (min-width: 200px) and (max-width: 250px){
    .navi {

        margin-left: 0px;
     
         .nav-sub {
             
     
             ul {
                 margin-top: 80px;
                 
             }
     
             ul, li {
                 
             }
     
             li {
                 padding: 4px 4px;
     
     
                 a {
     
                     font-family: sans-serif;
                     font-size: 11px;
                 }
             }
         }
     }
}