.formInput {
    display: flex;
        padding: 17px 14px;
        width: 100%;
        border: 1px solid #E4E9EF;
        font-size: 14px;
        font-weight: 300;
        font-family: Nunito Sans;
        border-radius: 8px;
}

@media only screen and (min-width: 300px) and (max-width: 900px){
    .formInput {
        font-size: 12px;
        padding: 13px 11px;
        
    }
}

